numpy
pandas
pandas-profiling
openpyxl
xlrd
matplotlib
seaborn
scikit-learn
statsmodels
japanize-matplotlib

plotly

notebook
jupyterlab
# jedi==0.17.2

mecab-python3
janome
gensim

pylint
cython
pystan
arviz
nest-asyncio
