numpy
pandas
openpyxl
xlrd
matplotlib
seaborn

japanize-matplotlib
pandas-profiling
plotly

scikit-learn
statsmodels

# notebook
jupyterlab
# jedi==0.17.2

mecab-python3
janome
gensim

pylint
cython
pystan==2.19.1.1
arviz
