numpy
pandas
pandas-profiling
openpyxl
xlrd
matplotlib
seaborn
scikit-learn
statsmodels

plotly
japanize-matplotlib

# notebook
jupyterlab
# jedi==0.17.2

mecab-python3
janome
gensim

pylint
cython
pystan
arviz
nest-asyncio
